<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827825994477-cb1nlc61s1itikt02dlvuuaqdcq6qdin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827825994477-cb1nlc61s1itikt02dlvuuaqdcq6qdin</string>
	<key>API_KEY</key>
	<string>AIzaSyBBpbdC2h-FGILDPw8mukqJ8OLfMk7zRu8</string>
	<key>GCM_SENDER_ID</key>
	<string>827825994477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.zajo.MonPain</string>
	<key>PROJECT_ID</key>
	<string>mon-pain-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mon-pain-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827825994477:ios:3a660463643a9adca82ae4</string>
	<key>DATABASE_URL</key>
	<string>https://mon-pain-app.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4180653915602895~7340517634</string>
</dict>
</plist>